<% include header %>




<h1>Ceci est la page classement personnel</h1>


<form method="post" enctype="multipart/form-data" action="/classement-personnel">

    <!-- input de champ texte pour mixer les deux-->
    <input type="text" name="toto" id="toto">

    <!-- input de champ texte pour mixer les deux-->
    <input type="text" name="toto2" id="toto2">

    <!-- Ce type d'input va ouvrir l'explorateur et proposer de prendre une photo-->
    <input type="file" accept="image/*" id="imageInput" name="imageInput">

    <input type="submit" value="ok">
</form>



<% include footer %>