<% include header %>

<h1>Ceci est la page classement personnel</h1>

<% if(insertId) { %>
    <p>Ceci est l'id inséré: <%= insertId %></p>
<% }
else
{ %>
    <a href="/insertion-vin">Insérer un vin à ce classement</a>
<% } %>

<div class="ui three item menu">
    <a class="item tabSousMenu">Vins rouges</a>
    <a class="item tabSousMenu">Vins blancs</a>
    <a class="item tabSousMenu">Vins rosés</a>
</div>

<div id="classement-personnel">
    <h2></h2>
</div>

<p id="couleur" style="display: none;"><%= couleur %></p>

<script src="/assets/js/classement-personnel.js"></script>

<% include footer %>