<% include header %>

<h1>Ceci est la page classement personnel</h1>

<% if(insertId) { %>
    <p>Ceci est l'id inséré: <%= insertId %></p>
<% }
else
{ %>
    <a href="/insertion-vin">Insérer un vin à ce classement</a>
<% } %>

<div class="ui three item menu" id="onglets">
    <a class="item tabSousMenu">Vins rouges</a>
    <a class="item tabSousMenu">Vins blancs</a>
    <a class="item tabSousMenu">Vins rosés</a>
</div>
<center>
    <div id="classement-personnel">
        <h2></h2>
        <div class="loader" style="display: none;"></div>
    </div>
</center>



<!-- variables cachées -->
<p id="couleur" style="display: none;"><%= couleur %></p>
<p id="id_membre" style="display: none;"><%= locals.cnx %></p>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="/assets/js/classement-personnel.js"></script>

<% include footer %>