<% include header %>

<h1>Ceci est la page fiche vin</h1>

<div class="loader"></div>
<div class="fichevin"></div>

<p id="id_membres" style="display: none;"><%= locals.cnx %></p>

<script
  src="https://code.jquery.com/jquery-3.3.1.min.js"
  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
  crossorigin="anonymous"></script>
<script src="assets/js/fichevin.js"></script>

<% include footer %>