<!DOCTYPE html>
<html>

<head>
    <title><%= titre %></title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <style>
        .main.container{
            margin-top: 7em;
        }
    </style>
</head>

<body>

<div class="ui fixed inverted menu">
    <a href="/" class="header item">Accueil</a>
    <a href="/classement-personnel" class="header item">Classement personnel</a>
    <a href="/communaute" class="header item">Communauté</a>
</div>

<div class="ui main container">