<!DOCTYPE html>
<html>

<head>
    <title><%= titre %></title>
    <link rel="stylesheet" href="/assets/semantic/semantic.min.css">
    <link rel="stylesheet" href="/assets/css/general.css">
</head>

<body>

<div class="ui fixed inverted menu">
    <a href="/" class="header item">Accueil</a>
    <% if(!locals.cnx) { %> 
        <a href="/communaute" class="header item">Communauté</a>
    <% } else { %>
        <a href="/classement-personnel" class="header item">Classement personnel</a>
        <a href="/deconnexion" class="header item">Déconnexion</a>
    <% } %>
</div>

<div class="ui main container" id="container">