<% include header %>




<h1>Ceci est la page d'accueil</h1>

<div class="ui three item menu" id="onglets">
    <a class="item tabSousMenu">Vins rouges</a>
    <a class="item tabSousMenu">Vins blancs</a>
    <a class="item tabSousMenu">Vins rosés</a>
</div>
<center>
    <div id="classement-personnel">
        <h2></h2>
        <div class="loader" style="display: none;"></div>
        <div id="liste_des_vins_classes"></div>
    </div>
</center>

<p id="couleur" style="display: none;"><%= couleur %></p>

<script src="/assets/js/general.js"></script>
<script src="/assets/js/dimensionner-image.js"></script>
<script src="/assets/js/index.js"></script>


<% include footer %>